# Data Dealer Config File
[from_email]
Bjorn Barrefors = bjorn.peter.barrefors@cern.ch

[error_emails]
Bjorn Barrefors = barrefors@gmail.com
#Brian Bockelman = bbockelm@cse.unl.edu
#Christoph Paus = paus@mit.edu
#Maxim Goncharov = maxi@mit.edu
#Bjorn Barrefors = bjorn.peter.barrefors@cern.ch
#Data Management Group = hn-cms-dmDevelopment@cern.ch

[report_emails]
Bjorn Barrefors = barrefors@gmail.com
Brian Bockelman = bbockelm@cse.unl.edu
Christoph Paus = paus@mit.edu
Maxim Goncharov = maxi@mit.edu
#Bjorn Barrefors = bjorn.peter.barrefors@cern.ch
#Data Management Group = hn-cms-dmDevelopment@cern.ch

[DB]
host = t3btch039.mit.edu
db = IntelROCCS
username = cmsSiteDb
password = db78user?Cms

[Phedex]
base = https://cmsweb.cern.ch/phedex/datasvc
cache = /local/cmsprod/IntelROCCS/DataDealer/Phedex
expiration_timer = 24


[PopDB]
base = https://cms-popularity.cern.ch/popdb/popularity
sso_cookie = /usr/local/IntelROCCS//certs/ssocookie.txt
certificate = /home/cmsprod/.globus/usercert.pem
key = /home/cmsprod/.globus/userkey.pem
cache = /local/cmsprod/IntelROCCS/DataDealer/PopDb

[DataDealer]
weekly_limit = 0.9
cache = /local/cmsprod/IntelROCCS/DataDealer/Rankings
report_path = /local/cmsprod/IntelROCCS/DataDealer/Reports
progress_path = /local/cmsprod/IntelROCCS/DataDealer/Progress

[CRAB]
collector = vocms097.cern.ch
